RewriteEngine On

# https://rongyi.ml --> https://rongyi.blog
RewriteBase /
RewriteCond %{HTTP_HOST} !^rongyi.blog$ [NC]
RewriteRule ^(.*)$ https://rongyi.blog/$1 [L,R=301]

# rongyi.blog/sheets --> rongyi.blog/sheets.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# http://rongyi.blog --> https://rongyi.blog
RewriteCond %{HTTP:KERSSL} !on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404.html
